.summary {
    text-align: center;
    max-width: 50rem;
    width: 100%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    color: #000000;

    border-radius: 14px;
    padding: 1rem;
    background-image: url(../../assets/meals.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 132%;
      border-radius: 25px;


    } 