.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #ad5502;
    border: 1px solid #ad5502;
    color: rgb(255, 255, 255);
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #000000;
    border-color: #000000;
  }